<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="mb-4">
          <!-- <h3>Mobile</h3> -->
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="tel:+4794786588" class="btn-social btn-outline" aria-label="Call +47 947 86 588.">
                <i class="fa-solid fa-fw fa-phone"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://wa.me/4794786588" class="btn-social btn-outline" target="_blank"
                rel="noopener noreferrer" aria-label="WhatsApp +47 947 86 588.">
                <i class="fa-brands fa-fw fa-whatsapp"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://t.me/+4794786588" class="btn-social btn-outline" target="_blank"
                rel="noopener noreferrer" aria-label="Telegram +47 947 86 588.">
                <i class="fa-brands fa-fw fa-telegram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.snapchat.com/add/lenutlee" class="btn-social btn-outline" target="_blank"
                rel="noopener noreferrer" aria-label="Snapchat Leonard.">
                <i class="fa-brands fa-fw fa-snapchat"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://line.me/ti/p/leeonarding" class="btn-social btn-outline" target="_blank"
                rel="noopener noreferrer" aria-label="Line Leonard.">
                <i class="fa-brands fa-fw fa-line"></i>
              </a>
            </li>
          </ul>
          <!-- <p class="text-muted mt-2"><a href="tel:+4794786588" style="text-decoration: none;">+47 947 86 588</a></p> -->
        </div>
        <!--
        <div class="mb-4">
          <h3>Email</h3>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="mailto:leonard.lee@example.com" class="btn-social btn-outline" aria-label="Email leonard.lee@example.com">
                <i class="fa-solid fa-fw fa-envelope"></i>
              </a>
            </li>
          </ul>
          <p class="text-muted mt-2">leonard.lee@example.com</p>
        </div>
        -->
      </div>
    </div>
  </div>
</section>
