<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="mb-4">
          <!-- <h3>Mobile</h3> -->
          <div class="d-flex flex-wrap justify-content-center gap-2">
            <a href="tel:+4794786588" class="btn-social btn-outline" aria-label="Call +47 947 86 588.">
              <i class="fa-solid fa-fw fa-phone"></i>
            </a>
            <a href="mailto:leonard@leonardlee.net" class="btn-social btn-outline"
              aria-label="Email leonard@leonardlee.net">
              <i class="fa-solid fa-fw fa-envelope"></i>
            </a>
            <a href="https://wa.me/4794786588" class="btn-social btn-outline" target="_blank" rel="noopener noreferrer"
              aria-label="WhatsApp +47 947 86 588.">
              <i class="fa-brands fa-fw fa-whatsapp"></i>
            </a>
            <a href="https://signal.me/#eu/bKh5jKgrgZG_lDIlL712NTcmMQ9XbBJIPDCEiSS4nnE_eQJYUNZIvIekAYU1FU-4"
              class="btn-social btn-outline" target="_blank" rel="noopener noreferrer" aria-label="Signal Leonard.">
              <i class="fa-brands fa-fw fa-signal-messenger"></i>
            </a>
            <a href="https://snapchat.com/t/AhjGJmiB" class="btn-social btn-outline" target="_blank"
              rel="noopener noreferrer" aria-label="Snapchat Leonard.">
              <i class="fa-brands fa-fw fa-snapchat"></i>
            </a>
            <!--
            <a href="https://line.me/ti/p/VENwaKKVDm" class="btn-social btn-outline" target="_blank"
              rel="noopener noreferrer" aria-label="Line Leonard.">
              <i class="fa-brands fa-fw fa-line"></i>
            </a>
            -->
          </div>
          <!-- <p class="text-muted mt-2"><a href="tel:+4794786588" style="text-decoration: none;">+47 947 86 588</a></p> -->
          <p class="text-muted mt-3">
            <small><a href="https://tuta.com/blog/key-verification" target="_blank" rel="noopener noreferrer">Tuta Key Verification</a></small><br>
            <small>leonard@leonardlee.net</small><br>
            <code>5874 53df f32b b9b2 bea0 8b47 af77 8a80<br/>133c 18eb 2a81 1f81 3a00 e19e ff94 588b</code>
          </p>
          <p class="text-muted mt-3">
            <small><a href="https://support.apple.com/en-gb/118246" target="_blank" rel="noopener noreferrer">iMessage Contact Key Verification<br/>(Public Verification Code)</a></small><br>
            <code>APKTID55YjDBPw1jVw7yeFUo_WlbJKnHTrJpZIf_5bd45V4zO7NA</code>
          </p>
        </div>
        <!--
        <div class="mb-4">
          <h3>Email</h3>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="mailto:leonard.lee@example.com" class="btn-social btn-outline" aria-label="Email leonard.lee@example.com">
                <i class="fa-solid fa-fw fa-envelope"></i>
              </a>
            </li>
          </ul>
          <p class="text-muted mt-2">leonard.lee@example.com</p>
        </div>
        -->
      </div>
    </div>
  </div>
</section>
