<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1"
  aria-labelledby="portfolioModal{{ post.modal-id }}-label" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="mb-4">{{ post.title }}</h2>
            <img src="img/portfolio/{{ post.img }}" class="img-fluid rounded mb-4" alt="{{ post.alt }}">
            {% if post.description %}
            <p class="lead">{{ post.description }}</p>
            {% endif %}
            <div class="mt-4">
              {% if post.client %}
              <p><strong>Client:</strong> {{ post.client }}</p>
              {% endif %}
              {% if post.project-date %}
              <p><strong>Date:</strong> {{ post.project-date }}</p>
              {% endif %}
              {% if post.category %}
              <p><strong>Category:</strong> {{ post.category }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
